body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #ebf2f1;
  margin: 1%;
}

.image-container img {
  width: 20vw; /* 25% of the viewport width */
  margin: 5px;
  box-sizing: border-box;
  transform: scale(0.7);
}

.subscribe-box {
  justify-content: center;
  text-align: center;
  margin: 1%;
  background-color: #bce0eb;
  border-radius: 10px;
}

.subscribe-box h1{
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  margin: 1%;
  padding: 2%;
}

.subscribe-box h3{
  font-weight: 500;
}

.container {
  display: flex;
  gap: 5%; /* Space between text boxes */
  justify-content: center;
  margin: 1%;
  padding: 2%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 5%; /* Switch to column for smaller viewports */
  }
}
.text-box {
  flex: 1 1 calc(30% - 10px); /* Adjust width and allow flexibility */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.text-box:focus {
  border-color: #0066cc; /* Border color when focused */
  outline: none; /* Remove default outline */
}

.custom-button {
  background-color: #f2a0a0; /* Slight red color */
  border: 1px solid rgba(255, 0, 0, 0.2); /* Slightly darker border */
  color: #000; /* Text color */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 20vw; /* 20% of the viewport width */
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 2%;
}
/*@media (max-width: 1200px) {
  .image-container img {
      max-width: calc(33.33% - 10px);
  }
}

@media (max-width: 900px) {
  .image-container img {
      max-width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .image-container img {
      max-width: calc(100% - 10px);
  }
}
*/